
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/*Nav Bar*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color:#474747

    
}
.btn-primary{
    background-color:#FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/*banner*/
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    max-width: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
    margin-left: 190px;
}
.greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-portfolio-pic{
    width: 580px;
    margin-right: 40px;
}